/**
 * Style Overrides
 * 
 */
.navmenu-default {
	background-color:#009587;	
}
#front-page-container{
	height:4000px;
	}
#home-bg{
	-moz-background-size: auto 100%;
	-webkit-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-size: 100% auto;
	min-height: 100%;
	background-repeat: no-repeat;
}
#home-bg.bg-1{
		background-image: url('../assets/bg-01.jpg'),
		url('../assets/bg-02.jpg');
		background-position-x:  50%, 50%;
		background-position-y:  0px, 1600px;
}

button.navbar.navbar-default.navbar{
	width:50px;
	background-color: #fff;
	}
	
a.logo>img{
	max-height:60px;
}

.navbar-header{
		width:100%;
		
}		