/**
 * Style Overrides
 * 
 */
@import url(http://fonts.googleapis.com/css?family=Prata);
@import url(http://fonts.googleapis.com/css?family=Bowlby+One+SC);
 
body{
	font-size: 1.7em;
	font-family: 'Prata', serif;
}
p , .h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6{
	font-family: 'Prata', serif;
	line-height:1.4
}

.h1, h1{
	font-family: 'Bowlby One SC', cursive;
	line-height:1.4;
	font-size: 2.5em;
}

.h2, h2{
	font-size: 1.5em;
}
.navmenu-default {
	background-color:#009587;	
}
#front-page-container{
	height:4000px;
	}
#home-bg{
	-moz-background-size: auto 100%;
	-webkit-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-size: 100% auto;
	min-height: 100%;
	background-repeat: no-repeat;
}
#home-bg.bg-1{
		background-image: url('../assets/bg-01.jpg'),
		url('../assets/bg-02.jpg'),
		url('../assets/bg-03.jpg');
		background-position:  0 0px, 0 1600px,0 3200px;
}

button.navbar.navbar-default.navbar{
	width:50px;
	background-color: #fff;
	}
	
a.logo>img{
	max-height:50px;
}

.navbar-offcanvas{
	background-color:#009587 !important;
	border-color: rgba(231, 231, 231, 0) !important;
}
.main-container{
	padding-top:100px;
	}
.navbar{
	margin-top: 50px;
	max-height:50px;
	z-index: 1;
}		
.navbar-nav>li>a{
	padding-top:15px !important;
	padding-bottom:15px !important;
}

.region.region-content{ 
	padding-top:45px;		
}

#hp-content{

}
.hp-page{
	max-width:100%;
}
.ct-pos-1{
	margin-top:3%;
	position:absolute;
	top:200px;
}
.ct-pos-2{
	margin-top:3%;
	position:absolute;
	top:200px;
}
.ct-pos-3{
	margin-top:3%;
	position:absolute;
	top:200px;
}

.ic-cont{
	margin-left:auto;
	margin-right:auto;
	max-width:100%;
	margin-top:16%;
	text-align:center;
	padding-top: 1%;
	padding-bottom: 2%;
	padding-left: 10%;
	padding-right: 10%;

}
.ic-cont>img{
	margin-left:auto;
	margin-right:auto;
	transition: .28s cubic-bezier(.4,0,.2,1);
	margin-bottom: 6%;
}

.ic-cont>h2{
	text-align:center;
}
.ic-cont>img:hover{
	filter: drop-shadow(0 6px 10px rgba(0,0,0,.23));
	-webkit-filter: drop-shadow(0 6px 10px rgba(0,0,0,.23));
	
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.ic-cont{
	padding:0;
}
.btn{
	font-size:12px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.ic-cont{
	margin-left:auto;
	margin-right:auto;
	max-width: 54%;
	margin-top: 11%;
}
.hp-page{
	max-width:94%;
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}	